<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hong Phuong</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="gift-box" id="gift-box">
            🎁
        </div>
        <div class="message" id="message">
            Chuc m sinh nhat vv nha Phuong 
        Chuc m tuoi ms cang bell nha :))
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
